@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
body{
    background: linear-gradient(#e7475e,#ff847c);
}

p{
    font-weight: bold;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

header h1{
    display: inline;
    font-size: 1em;
    color: #fecea8;
}

.container_intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fecea8;
}

.all_container-cajitas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.regalitos{
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-image: url(fondo_regalo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease;
    color: transparent;
}

.regalitos.nueva-clase{
    background: transparent;
    color: #fecea8;
}

.container_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 17px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border: 9px solid #ffe2e2;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

@media only screen and (max-width:650px) {
    button{
        width: 80%;
    }
}

.container_carta{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 20px 0px;
    color: #fecea8;
    font-weight: bold;
    text-align: center;
}

.container_carta img{
    width: 80%;
    box-shadow: 0px 0px 20px 0px #ffffff;
    margin-bottom: 20px;
}

.sisas{
    display: flex;
}
